// COLORS
$color-primary: #16a914e8;

$color-secondary: #ffeb67;

$color-grey-light-1: #adada3;
$color-grey-light-2: #7f7f7f;
$color-grey-light-3: #545454;

$color-grey-dark-1: #393e41;
$color-grey-dark-2: #232322;

$color-black: #050505;
$color-white: #fff;

// FONT
$default-font-size: 1.6rem;
