//   @include respond(tab-port) {
//     margin-bottom: 3rem !important;
//   }
// }

// .u-margin-bottom-big {
//   margin-bottom: 8rem !important;

//   @include respond(tab-port) {
//     margin-bottom: 5rem !important;
//   }
// }

// .u-margin-top-big {
//   margin-top: 8rem !important;
// }
// .u-margin-top-huge {
//   margin-top: 10rem !important;
// }

.row {
  max-width: 90rem !important;
  margin: 0 auto;
  //background-color: rgba(0, 251, 255, 0.952);
}

.row-v2 {
  max-width: 90rem !important;
  margin: 0 auto;
  //background-color: rgba(0, 251, 255, 0.952);
}

.f-r {
  display: flex;
  flex-direction: row;
}

.f-c {
  display: flex;
  flex-direction: column;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-active-primary {
  color: $color-primary;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-top-huge {
  margin-top: 10rem !important;
}
