.about-section {
  padding: 8rem 0;
  //background-color: rgba(251, 125, 255, 0.796);
  display: flex;
  flex-direction: column;
}

.about-paragraph {
  padding: 8rem 3rem;
  font-size: 1.4rem;
}

.flex-50 {
  flex: 50%;
}

.about-paragraph__title {
  font-size: 3.5rem;
  color: $color-black;
  font-weight: 700;
}

.about_paragraph__logos-item {
  width: 11rem;
  height: auto;
}

.about-paragraph__logos {
  display: flex;
  //background-color: red;
  align-items: center;
  justify-content: space-between;
  width: 65%;
}

.quoter {
  color: $color-black;
  font-weight: 700;
  font-size: 2rem;
}

.quoter-role {
  font-size: 1.2rem;
}
.about-paragraph__quote {
  //z-index: 1;
  //background-color: chartreuse;
  position: relative;
  padding: 0 6rem;
}
.about-paragraph__quote::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 0;
  width: 5rem;
  height: 2px;
  background-color: $color-primary;
  //z-index: 10;
}

.about-banners {
  padding: 3rem 0;
}

.about-banner__item {
  position: relative;
}

.about-banner__caption {
  position: absolute;
  background-color: $color-white;
  font-size: 3.5rem;
  top: 40%;
  left: 10%;
  font-weight: 700;
}

.products-section {
  padding: 6rem 0;
}

.featured-products-section {
  padding: 6rem 0;
}

.stats-section {
  padding: 6rem 0;
  background-color: $color-grey-light-2;
}

.review-section {
  padding: 6rem 0;
}
